form{
    text-align: center;
    margin-top: 10%;
}
#presentation{
    text-align: center;
}
#login{
    background-color: #EBE645;
    border-radius: 30px;
    padding: 30px;
}
body{
    background-color: #344CB7 ;
}
#img{
    border-radius: 100%;
}